#drum-machine {
  display: flex;
  justify-content: space-evenly;
}

.drum-button {
  width: 100px;
  height: 80px;
  font-size: 50px;
  border: none;
  color: #5e5e5e;
  border-radius: 5px;
}

.title-drum-machine {
  font-size: 100px;
  text-align: center;
  color: #5e5e5e;
}
