@import url("https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap");

body {
  background-color: #fffffc;
  margin: 0;
  font-family: "Reenie Beanie", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: "Reenie Beanie", cursive;
}
